@{
    ViewData["Title"] = "Welcome";
}

<div class="container">
    <div class="row pt-6 pd-6">
        <div class="col-10 m-1 btn btn-outline-secondary align-content-center">
            <a class="nav-link text-dark" asp-area="" asp-controller="WarehouseProduct" asp-action="Index">WareHouse Product</a>
        </div>
    </div>

    <div class="row pt-6 pd-6">
        <div class="col-10 m-1 btn btn-outline-primary align-content-center">
            <a class="nav-link text-dark" asp-area="" asp-controller="StockIn" asp-action="Index">Stock In</a>
        </div>
    </div>

    <div class="row pt-6 pb-6">
        <div class="col-10 m-1 btn btn-outline-secondary align-content-center">
            <a class="nav-link text-dark" asp-area="" asp-controller="StockMovement" asp-action="Index">Stock Movement</a>
        </div>
    </div>

    <div class="row pt-6 pd-6">
        <div class="col-10 m-1 btn btn-outline-primary align-content-center">
            <a class="nav-link text-dark" asp-area="" asp-controller="StockLevel" asp-action="Index">Stock Level</a>
        </div>
    </div>

</div>
